*.egg
*.egg-info
*.mo
*.py[cod]
*.so
.coverage
.DS_Store
.installed.cfg
.mr.developer.cfg
.project
.pydevproject
.sass-cache
.tmp
.tox
__pycache__
bin
build
develop-eggs
dist
eggs
lib
lib64
nosetests.xml
parts
pip-log.txt
sdist
var
bower_components
dist
node_modules
npm-debug.log
